<lib-app-environment-ribbon [label]="configurationService.configuration.environmentName"
                        [visible]="configurationService.configuration.environmentRibbonVisible"></lib-app-environment-ribbon>

<div class="layout-container" [ngClass]="containerClass()">
  <div lib-app-topbar></div>
<!--  <div lib-app-right-menu></div>-->
<!--  <div lib-app-sidebar></div>-->
<!--  <div class="layout-content-wrapper">-->
<!--    <div lib-app-breadcrumb></div>-->
<!--    <div class="layout-content">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <div lib-app-footer></div>-->
<!--  </div>-->
</div>

<!--<lib-app-configurator />-->

<!--<p-toast key="global" />-->


