<button (click)="toggleMenu()" pTooltip="Profile" [tooltipDisabled]="isTooltipDisabled()">
  <p-avatar styleClass="user-picture" [image]="session?.authentication?.photoUrl" shape="circle"></p-avatar>
  <span class="text-start">
                <strong>{{session?.authentication?.fullName}}</strong>
            <small>{{session?.authentication?.department}}</small>
            </span>
  <i class="layout-menu-profile-toggler pi pi-fw" [ngClass]="{ 'pi-angle-down': menuProfilePosition() === 'start' || isHorizontal(), 'pi-angle-up': menuProfilePosition() === 'end' && !isHorizontal() }"></i>
</button>

<ul *ngIf="menuProfileActive()" [@menu]="isHorizontal() ? 'overlay' : 'inline'">
  <li pTooltip="Logout" [tooltipDisabled]="isTooltipDisabled()" (click)="logout()">
    <button class="p-link">
      <i class="pi pi-power-off pi-fw"></i>
      <span>Logout</span>
    </button>
  </li>
</ul>
