@use './assets/layout/layout.scss';
@use './assets/app/app.scss';
@use 'primeicons/primeicons.css';

@import "tailwindcss";
@plugin "tailwindcss-primeui";

.layout-container {

  .layout-menu-profile {
    display: none;
  }

  .layout-topbar {
    .search-input-group.p-inputgroup > .p-splitbutton:first-child {
      & > button:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .layout-content-wrapper {
    .layout-content {
      min-height: calc(100vh - 11rem);
      max-height: calc(100vh - 11rem);
      overflow: auto;
      padding: 5px;
    }

    .p-avatar.p-component.p-avatar-image img {
      margin-top: 10px;
    }
  }
}
